#firstHeading {
    color:blue;
    font-family:Calibri, 'Gill Sans', 'Trebuchet MS', 'Gill Sans MT', 'Gill Sans', sans-serif;
} 
body {
    background-color:#B8BEFF;
}
.introText {
    color:white;
    font-family: 'Raleway', sans-serif;
}
